.titulo-categorias {
    font-family: 'Arial', sans-serif; /* Puedes usar cualquier fuente que prefieras */
    font-weight: bold;
    font-size: 2rem; /* Tamaño de la fuente */
    color: #007bff; /* Color del texto */
}
